<!-- footer -->
<footer class="footer">
  <div class="container_footer">
    <div class="row">
      <div class="footer-col">
        <h4><b>AFFITTASARDEGNA</b></h4>
        <ul>
          <p>AffittaSardegna è leader negli affitti vacanze per tutta la metà superiore della Sardegna. Con oltre 500 unità, propone case vacanze diversificate, dai semplici monolocali alle ville esclusive</p>
          <li><a routerLink="chisiamo">Scopri di più</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><b>LINKS</b></h4>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/ville-appartamenti-vacanze-sardegna">Gli Alloggi</a></li>
          <li><a routerLink="/localita-spiagge-sardegna">Località</a></li>
          <li><a routerLink="/proponi-immobile">Proponi Immobile</a></li>
          <li><a routerLink="/chisiamo">Chi siamo</a></li>
          <li><a routerLink="/contatti">Contatti</a></li>
          <li><a routerLink="/termini-e-condizioni">Termini e condizioni</a></li>
          <li><a routerLink="/privacy">Privacy</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><b>CONTATTACI</b></h4>
        <p style="color: black;">AffittaSardegna</p>
        <ul>
          <li>
            <a href="https://www.google.com/maps/place/Via+Ariosto,+3,+07046+Porto+Torres+(SS)">
              <i class="ri-map-pin-line" style="color: var(--primary); font-size: 20px;"></i>
              Via Ariosto, 3 07046 Porto Torres (SS)
            </a>
          </li>
          <li>
            <a href="tel:+393494787272">
              <i class="ri-phone-line" style="color: var(--primary); font-size: 20px;"></i>
              +39 3494787272
            </a>
          </li>
          <li>
            <a href="mailto:info@affittasardegna.it">
              <i class="ri-mail-line" style="color: var(--primary); font-size: 20px;"></i>
              info@affittasardegna.it
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4><b>SEGUICI SUI NOSTRI SOCIAL</b></h4>
        <div class="social-links">
          <a href="https://www.facebook.com/affittasardegna" target="_blank"><i class="ri-facebook-circle-fill" style="font-size: 35px;"></i></a>
          <a href="https://www.instagram.com/affitta_sardegna/" target="_blank"><i class="ri-instagram-fill" style="font-size: 35px;"></i></a>
        </div>
        <a class="navbar-brand" routerLink="">
          <img src="assets/images/logo.png" alt="Logo" style="height: 60px;">
        </a>
      </div>
    </div>
      <div class="closer" style="padding-top: 10px">
        AffittaSardegna Soc. Coop - P.IVA 02737310900
      </div>
  </div>
</footer>
