.container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: column-reverse;
}

.about-us {
    display: flex;
    justify-content: space-between;
    color: var(--primary);
    display: flex;
    flex-direction: column;
}

.about-us > div {
    flex: 1;
}

.about-us-img {
    text-align: right;
    margin-left: 25px;
}

.about-us-img img {
    max-width: 100%;
    height: auto;
    box-shadow:#0000003f 19px 12px 12px 0px
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .about-us {
        flex-direction: row;
    }

    .about-us-img {
        text-align: right;
    }
}