<div class="mini-header-background">
    <div class="mini-header">
        <h3 style="font-size: 40px;"><b>CHI SIAMO</b></h3>
        <h4 style="font-size: 20px;"><b>Leader negli affitti in Sardegna</b></h4>
    </div>
</div>
<div class="container">
    <div class="about-us">
        <div>
            <p><b>AffittaSardegna</b> è leader negli affitti vacanze per tutta la metà superiore della Sardegna. Con oltre 500 unità, propone case vacanze diversificate, dai semplici monolocali alle ville esclusive, al fine di soddisfare ogni tipo di richiesta per un soggiorno indimenticabile in quel paradiso chiamato Sardegna!</p>
            <p>È presente nelle località più affascinanti della costa sarda, sia quelle più note e frequentate, sia quelle ancora selvagge e caratterizzate da scenari naturali di incomparabile bellezza.</p>
            <p><b>AffittaSardegna</b> è il partner ideale cui affidarsi per trascorrere una magnifica vacanza in Sardegna, sia questa per coppie, famiglie o gruppi di amici; e ancora, volta al relax più totale, al benessere, al divertimento, agli sport acquatici, al trekking, all’escursionismo, al cicloturismo.</p>
            <p>La vasta scelta di località, la gamma ampia e differenziata di case vacanze offerte, l’esperienza, la serietà, la competenza e la continua assistenza sono al vostro servizio per soddisfare tutte le vostre esigenze e rendere speciale e unico il vostro soggiorno in Sardegna.</p>
        </div>
        <div class="about-us-img">
            <img src="./assets/images/01.jpg" alt="Spiaggia Sardegna AffittaSardegna"/>
        </div>
    </div>
</div>