<div class="mini-header-background">
    <div class="mini-header">
        <h3 style="font-size: 40px;"><b>Informativa sulla Privacy</b></h3>
        <h4 style="font-size: 20px;"><b>Quali informazioni raccogliamo?</b></h4>
    </div>
</div>

<div class="container">
    <h5 class="title-big">Informativa sulla Privacy </h5>

    <p>Benvenuto su AffittaSardegna, dove la privacy dei nostri utenti è una priorità. In questa pagina ti spiegheremo come raccogliamo, utilizziamo e proteggiamo i tuoi dati personali.</p>

    <h6 class="title">Dati Raccolti</h6>
    <p>Raccogliamo le seguenti tipologie di dati personali:</p>
    <ul>
        <li>Nomi e informazioni di contatto</li>
        <li>Informazioni di pagamento</li>
        <li>Dati di navigazione e interazione con il sito</li>
    </ul>

    <h6 class="title">Utilizzo dei Dati</h6>
    <p>Utilizziamo i dati raccolti per le seguenti finalità:</p>
    <ul>
        <li>Elaborazione delle prenotazioni</li>
        <li>Invio di comunicazioni e offerte speciali</li>
        <li>Analisi del comportamento degli utenti per migliorare il nostro servizio</li>
    </ul>

    <h6 class="title">Condivisione dei Dati</h6>
    <p>Condividiamo i dati con i seguenti soggetti:</p>
    <ul>
        <li>Fornitori di servizi di pagamento per elaborare le transazioni</li>
        <li>Partner per offerte e promozioni</li>
    </ul>

    <h6 class="title">Diritti dell'Utente</h6>
    <p>Gli utenti hanno i seguenti diritti:</p>
    <ul>
        <li>Accesso, correzione e cancellazione dei dati personali</li>
        <li>Opposizione al trattamento dei dati</li>
    </ul>

    <h6 class="title">Sicurezza dei Dati</h6>
    <p>Adottiamo misure di sicurezza per proteggere i dati personali da accessi non autorizzati o perdite.</p>

    <h6 class="title">Modifiche all'Informativa</h6>
    <p>Questa informativa potrebbe essere soggetta a modifiche. Eventuali cambiamenti saranno comunicati agli utenti.</p>

    <h6 class="title">Contatti</h6>
    <p>Per domande o chiarimenti, contattaci a: info@affittasardegna.it</p>

    <p>Accedendo al nostro sito, confermi di aver letto e accettato la nostra Informativa sulla Privacy.</p>
</div>