<!-- <div class="accommodation" *ngFor="let accommodation of accommodations">
  <img [src]="accommodation.images?.[0]" class="accommodation-img-top" alt="Accommodation image">
  <div class="accomodation-body">
    <h5 class="accomodation-title">{{ accommodation.name_it }}</h5>
    <h6 class="accomodation-subtitle mb-2 text-muted">{{ accommodation.name_room_type_category }}</h6>
    <p class="accomodation-text">{{ accommodation.description?.it}}</p>

    <ul class="list-group">
      <li class="list-group-item">
        <strong>Guests:</strong> {{ accommodation.guests }}
      </li>
      <li class="list-group-item">
        <strong>Bedrooms:</strong> {{ accommodation.n_bedrooms }}
      </li>
      <li class="list-group-item">
        <strong>Bathrooms:</strong> {{ accommodation.n_bathrooms }}
      </li>
      <li class="list-group-item">
        <strong>Address:</strong> {{ accommodation.address }}, {{ accommodation.city }}, {{ accommodation.postcode }}, {{ accommodation.cod_country }}
      </li>
      <li class="list-group-item">
        <strong>Price:</strong> {{ accommodation.price }}
      </li>
      <li class="list-group-item">
        <strong>Amenities:</strong>
        <ul>
          <li *ngFor="let amenity of accommodation.amenities">{{ amenity.name.it }}</li>
        </ul>
      </li>
    </ul>

    <a [href]="accommodation.meta_it_url" class="btn btn-primary">View Details</a>
  </div>
</div>>
   -->

<!-- alternative -->
<!-- <div class="row">
  <div class="col-lg-12">
    <div class="projcard-container" *ngFor="let accommodation of accommodations">
      <div class="projcard projcard-blue">
        <div class="projcard-innerbox col-xs-6">
          <img class="projcard-img" [src]="accommodation.images?.[0]" />
          <div class="projcard-textbox col-xs-6">
            <div class="projcard-title">{{accommodation.name_it}}</div>
            <div class="projcard-subtitle">This explains the card in more detail</div>
            <div class="projcard-bar"></div>
            <div class="projcard-description">{{accommodation.description?.it}}</div>
            <div class="projcard-tagbox">
              <span class="projcard-tag">HTML</span>
              <span class="projcard-tag">CSS</span>
            </div>
          </div>
        </div>
      </div>
  </div>
</div> -->
<div class="card-container">
  <div class="row" style="justify-content: center;">
    <a href="https://affittasardegna.kross.travel{{accommodation.meta_it_url}}" class="box col-lg-3 col-md-4 col-sm-12" *ngFor="let accommodation of accommodations | slice:0:cardsToShow">
      <img src="{{accommodation.images?.[0]}}" alt="foto appartamento">
      <div class="under-img" style="display: grid; grid-template-columns: repeat(1, 1fr) auto;">
        <h2 style="font-size: medium; color: var(--secondary);">Da {{accommodation.price}}€ notte</h2>
        <h2 style="font-size: medium; color: var(--secondary);">fino a {{accommodation.guests}} ospiti</h2>
      </div>
      <div class="content">
        <div class="text">
          <h2>{{accommodation.name_it}}</h2>
          <p>
            <div class="iconwrapper">
            <fa-icon class="icon" [icon]="faLocationDot"></fa-icon><span style="font-size: 17px;">{{accommodation.city}}</span>
          </div>
        </div>
        <div class="description">
          <p>{{accommodation.description?.it}}</p>
        </div>
        <div class="icon-container">
          <div class="iconwrapper">
            <fa-icon class="icon" [icon]="faBed"></fa-icon><span>{{accommodation.n_bedrooms}}</span>
          </div>
          <div class="iconwrapper">
            <fa-icon class="icon" [icon]="faBathtub"></fa-icon><span>{{accommodation.n_bathrooms}}</span>
          </div>
          <div class="iconwrapper">
            <fa-icon class="icon" [icon]="faWifi"></fa-icon>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
