<nav class="navbar navbar-expand-lg fixed-top container-fluid">
  <div class="container">
    <a class="logo" routerLink="/">
      <img src="assets/images/logo.png" alt="Logo">
    </a>

    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse custom-collapse justify-content-end" id="navbar" [ngbCollapse]="isCollapsed" [ngClass]="{'white-bg': !isCollapsed}" style="margin-right: 15px;">
      <a class="nav-link" routerLink="/ville-appartamenti-vacanze-sardegna" (click)="isCollapsed = true">Gli alloggi</a>
      <a class="nav-link" routerLink="/localita-spiagge-sardegna" (click)="isCollapsed = true">Località</a>
      <a class="nav-link" routerLink="/proponi-immobile" (click)="isCollapsed = true">Proponi Immobile</a>
      <a class="nav-link" routerLink="/chisiamo" (click)="isCollapsed = true">Chi siamo</a>
      <a class="nav-link" routerLink="/contatti" (click)="isCollapsed = true">Contatti</a>
      <a class="nav-link dropdown ml-2" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" ngbDropdownToggle>
          <img [src]="languageIcon" alt="Language Icon" style="height: 13px;"> Language
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
          <a class="dropdown-item" style="background-color: transparent;" href="/" (click)="changeLanguage('it', true)">Italiano</a>
          <a class="dropdown-item" style="background-color: transparent;" href="en" (click)="changeLanguage('en', true)">English</a>
        </div></a>
      <a class="nav-link" href="tel:+393494787272" style="margin-bottom: 5px;">
        <i class="ri-phone-fill" style="color: var(--primary); font-size: 20px;"></i>
        +39 3494787272
      </a>
      <a class="nav-link" href="mailto:info@affittasardegna.it" style="margin-bottom: 5px;">
        <i class="ri-mail-fill" style="color: var(--primary); font-size: 20px;"></i>
        info@affittasardegna.it
      </a>
    </div>
  </div>
</nav>
