.home{
  margin-top: 100px;
  background-image: url('~src/assets/images/26Copia.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 440px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.booking-container{
    border-radius: 2rem;
    border: 1px solid var(--primary);
    box-shadow: 5px 5px 30px #888888;
    margin: -20px 10px 10px 10px;
    background-color: white;
}

.booking-nav {
    height: 90px;
    max-width: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: var(--extra-light);
    border-radius: 5px;
    
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-nav span{
    flex: 1;
    padding: 1rem 2rem;
    font-weight: 500;
    color: var(--primary);
    text-align: center;
    border-radius: 5px;
}
  
  .booking-nav span:nth-child(2) {
    color: var(--primary);
  }

.booking-container form {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    gap: 1rem;
}

.booking-container .input-content {
    width: 100%;
}

.booking-container .form-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.booking-container .form-group span {
    padding: 10px;
    font-size: 1.7rem;
    color: var(--primary);
    border-radius: 1rem;
}

.booking-container .input-group {
    width: 100%;
    position: relative;
}

.booking-container label {
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary);
    pointer-events: none;
    transition: 0.3s;
    
    margin-top: -10px;
}
  
  .booking-container input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary);
    color: var(--secondary);
  }
  
  .booking-container input:focus ~ label {
    font-size: 0.8rem;
    top: 0;
  }
  
  .booking-container .form-group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--primary);
  }
  
  .booking-container .btn {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .btn{
    margin : 10px 10px 10px 10px;

  }

  .featured-title{
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
  }


  .localities-background {
    position: relative;
    background-image: url('~src/assets/images/26Copia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 25px;
  }
  

.localities-big-container {
    position: relative;
    color: white;
    font-weight: bold;
    backdrop-filter: blur(10px);
}



  .localities-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 10px 10px 10px;
}


.localities-section h2, .localities-section h4 , .localities-item-content{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.localities-item-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
    margin-bottom: 50px;
}

.localities-image-container {
    position: relative;
}

.localities-image {
    width: 400px;
    height: 400px;
}

.localities-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.localities-image-container:hover .localities-overlay {
    opacity: 1;
}

.localities-overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

@media (max-width: 600px) {
  .booking-container form {
    grid-template-columns: 1fr; /* Cambio il numero di colonne a 1 */
    gap: 1rem;
  }

  .booking-container .btn {
    grid-column: 1 / -2; /* Espando il pulsante su tutta la larghezza */
  }

  .localities-item-details {
    display: block
  }

  .localities-image {
    width: 250px;
    height: 250px;
  }

  .localities-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .localities-overlay-description{
    font-size: 12px;
  }

  .localities-big-container {
    max-width: 400px;
  }

  .localities-background {
    max-width: 400px;
  }
}
