<!-- header -->

<div class="home container">
    <div class="home-text" style="background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);">
        <h1>Trova <br>L' ALLOGGIO PERFETTO <br> per la tua Vacanza</h1>
        <a routerLink="/ville-appartamenti-vacanze-sardegna" class="btn">Scopri tutti i nostri alloggi</a>
    </div>
</div>
<!-- header end -->

<!-- searchbar -->
<div class="section-container booking-container">
        <div class="booking-nav" style="display: flex;
        flex-direction: row;
        justify-content: space-around; ">
            <div class="nav-item" style="margin-top: -40px;">
                <i class="ri-phone-find-line" style="background-color: #2A3F80; color: white; font-size: 60px; border-radius: 40px; height: 80px; width: 80px; text-align: center;"></i>
                <span>Cerca</span>
            </div>
            <div class="nav-item" style="margin-top: -40px;">
                <i class="ri-heart-3-line" style="background-color: #2A3F80; color: white; font-size: 60px; border-radius: 40px; height: 80px; width: 80px; text-align: center;"></i>
                <span>Scegli</span>
            </div>
            <div class="nav-item" style="margin-top: -40px;">
                <i class="ri-luggage-cart-line" style="background-color: #2A3F80; color: white; font-size: 60px; border-radius: 40px; height: 80px; width: 80px; text-align: center;"></i>
                <span>Prenota</span>
            </div>
        </div>
    <form form [formGroup]="form" (ngSubmit)="onFormSubmit()">
        <div class="form-group">
            <span><i class="ri-calendar-check-line"></i></span>
            <div class="input-content">
                <div class="input-group">
                    <label><input type="date" formControlName="checkIn" id="checkIn-input">Check-in</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <span><i class="ri-calendar-close-line"></i></span>
            <div class="input-content">
                <div class="input-group">
                    <label><input type="date" formControlName="checkOut" id="checkOut-input">Check-out</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <span><i class="ri-user-5-line"></i></span>
            <div class="input-content">
                <div class="input-group">
                    <label><input type="number" min="1" formControlName="guests" id="guests-input">Ospiti</label>
                </div>
            </div>
        </div>
        <div class="btn" (click)="onFormSubmit()"><i class="ri-search-line"></i></div>
    </form>
</div>
<!-- searchbar end -->


<!-- featured session -->
<div class="featured">
    <div class="featured-title">
        <h2>IN PRIMO PIANO</h2>
    </div>
    <div class="featured-housecards">
        <app-housecards [accommodations]="allAccommodations"></app-housecards>
    </div>
</div>
<!-- featured session end -->

<!-- localities map -->
<!-- localities map end -->




<!-- localities gallery -->

<div class="localities-background">
    <div class="localities-big-container">
        <div class="localities-section" style="padding-top: 10px;">
            <h2 class="localities-title">LOCALITÀ TURISTICHE</h2>
            <h4 class="localities-subtitle">In primo piano</h4>
            <div class="localities-item-container">
                <div class="localities-item-content">
                    Le migliori località turistiche della Sardegna. Spiagge da sogno e acque cristalline.
                </div>
            </div>
        </div>
        <div class="localities-container">
            <div class="localities-item-details">
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="./assets/images/26Copia.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">BUDONI</h3>
                            <p class="localities-overlay-description">Piccolo comune dell'alta Baronia, al confine tra le province di Olbia-Tempio e Nuoro, dotato di un a...</p>
                            <a href="/localita-spiagge-sardegna#localita22" class="localities-overlay-link">CONTINUA</a>
                        </div>
                    </div>
                </div>
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="./assets/images/26Copia.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">BUDONI</h3>
                            <p class="localities-overlay-description">Piccolo comune dell'alta Baronia, al confine tra le province di Olbia-Tempio e Nuoro, dotato di un a...</p>
                            <a href="/localita-spiagge-sardegna#localita22" class="localities-overlay-link">CONTINUA</a>
                        </div>
                    </div>
                </div>
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="./assets/images/26Copia.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">BUDONI</h3>
                            <p class="localities-overlay-description">Piccolo comune dell'alta Baronia, al confine tra le province di Olbia-Tempio e Nuoro, dotato di un a...</p>
                            <a href="/localita-spiagge-sardegna#localita22" class="localities-overlay-link">CONTINUA</a>
                        </div>
                    </div>
                </div>
                <div class="localities-image-container" data-wow-delay="0.1s">
                    <img src="./assets/images/26Copia.jpg" alt="" class="localities-image" />
                    <div class="localities-overlay">
                        <div class="localities-overlay-content">
                            <h3 class="localities-overlay-title">BUDONI</h3>
                            <p class="localities-overlay-description">Piccolo comune dell'alta Baronia, al confine tra le province di Olbia-Tempio e Nuoro, dotato di un a...</p>
                            <a href="/localita-spiagge-sardegna#localita22" class="localities-overlay-link">CONTINUA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- localities gallery end -->
