<div class="mini-header-background">
    <div class="mini-header">
        <h3 style="font-size: 40px;"><b>PROPONI IMMOBILE</b></h3>
        <h4 style="font-size: 20px;"><b>Metti a reddito il tuo immobile</b></h4>
    </div>
</div>

<div class="property-suggestion-container container">
    <div class="property-suggestion-content">
        <div class="property-suggestion-header">
            <div class="icon-container">
                <i class="ri-home-smile-fill"></i>
            </div>
            <p class="property-suggestion-title"><strong>VUOI INSERIRE LA TUA CASA VACANZE SUL CIRCUITO AffittaSardegna?</strong></p>
            <p class="property-suggestion-subtitle">CONTATTACI! Ti indicheremo come fare.</p>
        </div>
        <form [formGroup]="suggestForm" (ngSubmit)="sendEmail($event)">
            <label for="city">Città/Frazione dell'immobile</label>
            <input id="city" class="input-field" type="text" name="city" autocomplete="address-level2" placeholder="Città" formControlName="city">
            <label for="address">Indirizzo dell'immobile</label>
            <input id="address" class="input-field" type="text" name="address" autocomplete="street-address" placeholder="Indirizzo" formControlName="address">
            <label for="description">Descrivi l'immobile</label>
            <textarea id="description" class="input-field textarea-field" name="description" autocomplete="off" placeholder="Descrizione"></textarea>
            <label for="nome">Nome</label>
            <input id="nome" class="input-field" type="text" name="nome" autocomplete="given-name" placeholder="Nome" formControlName="nome">
            <label for="cognome">Cognome</label>
            <input id="cognome" class="input-field" type="text" name="cognome" autocomplete="family-name" placeholder="Cognome" formControlName="cognome">
            <label for="telefono">Telefono</label>
            <input id="telefono" class="input-field" type="text" inputmode="numeric" pattern="[0-9]+" name="telefono" autocomplete="tel" placeholder="Numero di telefono (cellulare)" formControlName="telefono">
            <div *ngIf="suggestForm.get('telefono')?.hasError('pattern')" style="color: red;">Inserisci solo numeri nel campo telefono.</div>
            <label for="email">Email</label>
            <input id="email" class="input-field" type="email" name="email" autocomplete="email" placeholder="Email" formControlName="email">
            <div *ngIf="suggestForm.get('email')?.hasError('email')" style="color: red;">Inserisci una mail valida.</div>
            <label for="privacy" class="privacy-checkbox">
              <input id="privacy" type="checkbox" name="privacy" formControlName="privacy"> Accetto la <a class="privacy-link" routerLink="/privacy">politica sulla privacy</a>.
            </label>
            <br>
            <label for="trattamentodati" class="privacy-checkbox">
              <input id="trattamentodati" type="checkbox" name="trattamentodati" formControlName="trattamentodati"> Autorizzo il trattamento dei miei dati personali, ai sensi del D. lgs. 196 del 30 giugno 2003.
            </label>
            <button class="btn" type="submit" style="margin-left: 60px;" [disabled]="suggestForm.invalid">Invia</button>
          </form>
    </div>
</div>
