<div class="view-property container">
    <div class="details">
        <div class="thumb">
            <div class="big-image">
                <img [src]="bigImageSource" alt="foto appartamento">
            </div>
            <div class="small-images">
                <img *ngFor="let image of accommodation?.images; let i = index" 
                     [src]="image" alt="foto appartamento" 
                     (click)="replaceBigImage(image)">
            </div>
        </div>
        <h3 class="title" style="font-size: 2.5rem;">
            {{accommodation?.name_it}}
        </h3>
        <p class="location">
            <fa-icon class="icon" [icon]="faLocationDot"></fa-icon><span>{{accommodation?.city + ' ' + accommodation?.postcode}}</span>
        </p>
        <div class="info">
            <div class="info-item">
                <fa-icon class="icon" [icon]="faBed"></fa-icon><span style="color: var(--primary);">{{accommodation?.n_bedrooms}} Camere da Letto</span>
            </div>
            <div class="info-item">
                <fa-icon class="icon" [icon]="faBathtub"></fa-icon><span style="color: var(--primary);"> {{accommodation?.n_bathrooms}} {{accommodation?.n_bathrooms === 1 ? 'Bagno' : 'Bagni'}}</span>
            </div>
            <div class="info-item">
                <fa-icon class="icon" [icon]="faEuroSign"></fa-icon><span style="color: var(--primary);">a partire da {{accommodation?.price}} per notte</span>
            </div>
        </div>
        <h3 class="title">Descrizione</h3>
        <p class="description" style="color: var(--primary);">
            {{accommodation?.description?.it}}
        </p>
        <h3 class="title">Dotazioni</h3>
        <div class="flex">
            <div class="box" *ngFor="let amenity of accommodation?.amenities">
                <fa-icon class="icon" [icon]="faCheck"></fa-icon> <span style="color: var(--primary);">{{amenity?.name?.it}}</span>
            </div>
        </div>
        <iframe class="map-iframe container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.682682014014!2d8.407902115712707!3d40.836034979321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x658915030789bc5e!2sAffittaSardegna%20Soc.%20Coop!5e0!3m2!1sen!2sus!4v1635361234567!5m2!1sen!2sus"></iframe>
    </div>
</div>